/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap'); */

:root{
    --linearcolor1: #FF6600;
    --linearcolor2: #FF3B92;
}

 body{
     max-width: 100%;
    overflow-x: hidden;
    margin-bottom: 100px;
   
 }
*{
    font-family: 'Poppins'
}
.hero--event {
    box-shadow: 0px 2px 4px grey;
    border-radius: 14px;
    width: 303px;
}

.hero--img {
    width: inherit;
    margin-top: -13px;
}

.hero--eventdesc1 {
    margin-top: -14px;
    font-size: 11px;
    font-weight: 400;
    padding-left: 38px;
}

.hero--eventdesc2 {
    overflow: auto;
    height: 81px;
    padding-left: 37px;
    margin-top: -6px;
    font-size: 13px;
    font-weight: 300;
    padding-right: 26px;
    padding-bottom: 19px;
}

.hero--eventdesc2::-webkit-scrollbar-track-piece{
    background-color: pink;
}

.hero--eventname {
    font-weight: 500;
    padding-left: 38px;
    padding-right: 42px;
}

button.signup--btn {
    color: white;
    transition: box-shadow 500ms;
    background: linear-gradient(
45deg
, #FF6600, #FF3B92);
    padding: 14px 30px;
    border: none;
    border-radius: 35px;
    position: absolute;
    top: 20px;
    font-size: 14px;
    right: 51px;
    cursor: pointer;
}

button.signup--btn:hover{
    box-shadow: 0px 2px 4px #c2c2c2;

}

/* section.section--left {
    display: flex;
    flex-wrap: wrap;
    width: 1041px;
    margin-left: -350px;
    margin-top: -235px;
    gap: 23px;
    transform: rotate( 
-15deg
 );
} */

section.section--left {
    display: flex;
    flex-wrap: wrap;
    width: 1041px;
   margin-left: -257px;
    margin-top: -413px;
    gap: 23px;
    transform: rotate( 
24deg
 );
}

main.herosection {
    display: flex;
    column-gap: 60px;
}

.section--right_div{
  margin-top: 255px;
}

.header1 {
    font-size: 33px;
    font-weight: 500;
}

.header2 {
       margin-top: -20px;
    font-size: 17px;
    font-weight: 300;
}

.searchinput {
      height: 49px;
    width: 283px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 2px 4px #909090;
    margin-top: 17px;
    text-align: left;
    padding-left: 37px;
}

.section--right_search{
    display: flex;
     column-gap: 30px;
}

.magnifyingglass--btn {
    background: linear-gradient(var(--linearcolor1), var(--linearcolor2));
    border: none;
    height: 51px;
    display: flex;
    width: 54px;
    justify-content: center;
    margin-top: 15px;
    box-shadow: 0px 2px 4px grey;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}


.magnifyingglass--btn:hover{
    transform: translate(-1px, 1px);
     box-shadow: none;
}

.magnifyingglass--btn img{
      width: 28px;
}

 
.places-suggestion {
 display: flex;
    margin-top: 16px;
    column-gap: 10px;
    cursor: pointer;
    width: 395px;
    flex-wrap: wrap;
    row-gap: 11px;

}



.suggestion {
    padding: 1px 18px;
    font-size: 11px;
    color: white;
    text-align: center;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: auto;
    background: linear-gradient(159deg, var(--linearcolor1), var(--linearcolor2));
}

.suggestion h3 {
    font-weight: 400;
}

.randomball {
    height: 78px;
    width: 77px;
    border-radius: 40px;
    background: linear-gradient(
327deg
, var(--linearcolor1), transparent);
    position: absolute;
    bottom: 110px;
    right: 166px;
    filter: blur(5px);
}

.divider{
      width: 102vw;
    height: 35px;
    background: white;
    margin-top: 179px;
    z-index: 3;
    margin-left: -40px;
    border: none;
    box-shadow: 4px 11px 10px 0px #cbcbcb;
}

.section--extendedsearch{
  margin-left: 68px;
}

.eventssearchtext {
    margin-top: 86px;
     font-size: 30px;
    font-weight: 600;
}

.searchinput2 {
      height: 49px;
    width: 283px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 2px 4px #909090;
    margin-top: 17px;
    text-align: left;
    padding-left: 37px;
    margin-right: 35px;
}

.secondarysearch{
    display: flex;
}
 

.hero--event_2 {
    box-shadow: 0px 2px 4px grey;
    border-radius: 5px;
    width: 303px;
}

.results {
    display: flex;
    justify-content: flex-start;
    gap: 34px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.extras{
        padding-left: 37px;
    font-weight: 300;
    font-size: 13px;
    margin-top: -12px;
}

.learnmore {
     padding: 1px 18px;
    font-size: 12px;
    color: white;
    text-align: center;
    height: 39px;
    display: flex;
    float: right;
    box-shadow: 0px 2px 4px #b9b9b9;
    margin-right: 160px;
    border: none;
    margin-bottom: 28px;
    align-items: center;
    border-radius: 4px;
    width: auto;
    background: linear-gradient( 
159deg
 , var(--linearcolor1), var(--linearcolor2));

}

#locateme {
    font-weight: 300;
    text-decoration: underline;
    margin-top: 10px;
    cursor: pointer
}

 
 

.overlay{
    background: linear-gradient(#000000c2, #000000cc);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay3{
    background: linear-gradient(#000000c2, #000000cc);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
}

 
.signup--sect {
    height: 463px;
    width: 356px;
    background-color: white;
    border-radius: 4px;
    padding: 16px 44px;
    position: absolute
}

.signup--sect_3 {
    height: 200px;
    width: 356px;
    background-color: white;
    border-radius: 4px;
    padding: 16px 44px;
    position: absolute
}

.signup--sect_3 .googlelogin{
    margin-top: 21px;
}

.signup{
    margin-top: 25px;
    padding: 10px 26px;
    background: linear-gradient(
45deg
, var(--linearcolor1), var(--linearcolor2));
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.googlelogin {
    background: #1000ff94;
    border: none;
    padding: 10px 15px;
    color: white;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
}

.cancelModal1 {
    width: 33px;
    position: absolute;
    right: 21px;
    top: 21px;
    cursor: pointer
}

.bookmark{
   width: 28px;
    position: relative;
    left: 161px;
    top: 4.4px;
    cursor: pointer;
}

.overlay2{
     background: linear-gradient(#000000c2, #000000cc);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.viewmore--modal{
    width: 1000px;
    height: 550px;
    overflow:auto;
    background: white;
    border-radius: 4px;
}

img.viewmore--img {
    width: 314px;
    margin-left: 46px;
    margin-top: 42px;
    box-shadow: 0px 2px 4px grey;
    border-radius: 4px;
}

.viewmore--img_hero {
    display: flex;
    column-gap: 54px;
    align-items: center;
}

.viewmodal--name {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: -10px;
    width: 463px
}

.viewmote--hero_right {
    margin-top: 48px;
}

.viewmodal--extra {
    font-weight: 400;
}

h4.viewmodal--info {
    width: 316px;
    margin-top: -2px;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.viewmodal--moreinfo{
     margin-top: 7px;
    padding: 10px 26px;
    background: linear-gradient(
45deg
, var(--linearcolor1), var(--linearcolor2));
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.locationsection {
    padding: 0px 44px;
    display: flex;
    margin-top: 38px;
    column-gap: 189px;
}

.locationsectionh2 {
    font-weight: 500;
}

#mapid {
    height: 288px;
    z-index: 499;
    margin-bottom: 30px;
    width: 427px;
 }

 
 .locationtext {
    font-size: 13px;
    font-weight: 300;
 }